@font-face {
    font-family: 'PFDinTextCondPro-Medium';
    src: url('fonts/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/PFDinTextCondPro-Medium.woff') format('woff'), url('fonts/PFDinTextCondPro-Medium.ttf')  format('truetype'), url('fonts/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCondPro-Thin';
    src: url('fonts/PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/PFDinTextCondPro-Thin.woff') format('woff'), url('fonts/PFDinTextCondPro-Thin.ttf')  format('truetype'), url('fonts/PFDinTextCondPro-Thin.svg#PFDinTextCondPro-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextPro-Light';
    src: url('fonts/PFDinTextPro-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/PFDinTextPro-Light.woff') format('woff'), url('fonts/PFDinTextPro-Light.ttf')  format('truetype'), url('fonts/PFDinTextPro-Light.svg#PFDinTextPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Regular';
    src: url('fonts/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/PFDinTextPro-Regular.woff') format('woff'), url('fonts/PFDinTextPro-Regular.ttf')  format('truetype'), url('fonts/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background: url("glyphicons-halflings.png") no-repeat 14px 14px;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
    *margin-left: 0;
}
.icon-user {
    background-position: -168px 0;
}
.button {
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    min-height: 35px;
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 16px;
    padding: 0 10px;
}
.button-block {
    display: block;
    width: 100%;
}
.button-rounded {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button-default {
    background-color: #007eff;
    color: #ffffff;
}
.button-big {
    padding: 15px 25px;
    font-size: 21px;
}
.t-a_c {
    text-align: center;
}
.p_r {
    position: relative;
}
.styled-header {
    border-bottom: 1px dotted #888888;
}
.breadcrumbs {
    background: url("breadcrumbs-arrow.png") no-repeat left center;
    min-height: 35px;
    margin: 5px 0;
    padding: 5px 5px 0 40px;
}
.breadcrumbs a, .breadcrumbs span {
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 18px;
    color: #000000;
}
.breadcrumbs span {
    font-size: 16px;
    color: #696969;
}
html,
body {
    height: 100%;
	font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    text-transform: uppercase;
}
h2 {
    font-size: 24px;
}
p {
    margin: 0 0 9px;
}
a.dashed {border-bottom: 1px dashed #005580; text-decoration:none !important;}
a.dashed-green {border-bottom: 1px dashed #019A1D; text-decoration:none !important;}
.tulip {background-image: url('tulip.png');width: 14px; height: 15px; display: block;}
.mickey {background-image: url('mickey.png');width: 16px; height: 16px; display: block;}
.flower {background-image: url('flower_icon.png');width: 16px; height: 16px; display: block;}
.sheet {background-image: url('sheet.png');width: 16px; height: 16px; display: block;}
.music {background-image: url('music.png');width: 16px; height: 16px; display: block;}
.kino {background-image: url('kino.png');width: 16px; height: 16px; display: block;}
.mount {background-image: url('mount.png');width: 16px; height: 16px; display: block;}
.lvnd {background-image: url('lvnd.png');width: 16px; height: 16px; display: block;}
.pride {background-image: url('pride.png');width: 16px; height: 16px; display: block;}
.firework {background-image: url('firework.png');width: 16px; height: 16px; display: block;}
.logo img {
    display: block;
}
.logo .mini {
    margin: 0 auto;
}
a:focus, select:focus{
    outline:none;
}

.caption-red{
    color: red;
}
.language-select {
    position: absolute;
    right: 10px;
    top: 15px;
}
#slider .caption {
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 5px 20px;
    background: rgba(0,0,0,0.7);
    color: #ffffff;
}

#slider .title, #slider .title a {
    font-size: 14px;
    color: #ffa201;
}
.sliderHot{height:63px;text-align:center;text-transform:uppercase;width:100%;position:absolute;top:0;left:0;z-index:40;}
.sliderHot span{background:url('viSliderHot.png') repeat-x 0 -63px;color: #f0262d;display:inline-block;font:700 24px/1em 'PFDinTextCondPro-Medium', arial, sans-serif;height:63px;padding:12px 10px 0;position:relative;}
.sliderHot span:before{background:url('viSliderHot.png') no-repeat;content:"";height:63px;width:40px;position:absolute;top:0;right:100%;}
.sliderHot span:after{background:url('viSliderHot.png') no-repeat 100% 0;content:"";height:63px;width:40px;position:absolute;top:0;left:100%;}

.wrap {
    min-height: 100%;
}
.wrap > header {
    background: url('background.jpg') center no-repeat;
    background-size: cover;
    padding-bottom: 10px;
}
.menuBlock{margin-bottom:30px;}
.menuBlock img{max-width:100%;min-width:100%;}
.menuBlock h4{background:#007eff;margin:0;padding:8px;text-align:center;font:400 24px 'PFDinTextPro-Regular', sans-serif;text-transform: uppercase;}
.menuBlock h4 a{color: #ffffff;text-decoration: none;}
.menuBlock ul{list-style:none;margin:0;padding:0;}
.menuBlock ul li{display:block;}
.menuBlock ul li + li{border-top:1px dotted #dadada;}
.menuBlock ul li a{color:#2b2b2b;display:block;font:normal 16px 'PFDinTextPro-Regular', sans-serif;padding:10px 8px;text-decoration:none;text-transform:uppercase;}
.menuBlock ul li a:hover{background:#ebf2f8;color:#000;}
.menuBlock ul li a i {float:left;}
.menuBlock ul li a span{display:block;margin-left:22px;}
.menuBlock ul li a i.icon-viArrow{background:url('viAccordionArrow.png') no-repeat 0 0;height:20px;}
.menuBlock ul ul{background:#fff;margin-bottom:5px;}
.menuBlock ul ul li a{color:#444;display:block;font:normal 16px 'PFDinTextPro-Regular', sans-serif;padding:10px 6px;text-decoration:none;text-transform:none;}


.testimonialsPage{padding-top:0;}
.testimRow1{margin-bottom:30px;}
.testimonialsPage .wordsBox{font-size:14px;line-height:1.5em;}
.testimonialsPage .wordsBox h4{margin-top:0;text-transform:none;}
.testimonialsPage .writeTestim .button{margin-top:40px;}

.testimonialsPage .testimFormSend{text-align:center;}
.testimonialsPage .testimFormSend .btn{min-width:160px;}
.testimonialsPage .testimFormClose{margin-bottom:10px;text-align:right;}
.testimonialsPage .testimFormClose .closeForm{background:#ddd;border-radius:50%;color:#fff;cursor:pointer;display:inline-block;font-size:25px;font-weight:700;height:30px;line-height:30px;text-align:center;width:30px;}
.testimonialsPage .testimFormClose .closeForm:hover{background:#aaa;}

.testimList{margin-top:50px;}
.testimList .testimItem{margin-bottom:30px;}
.testimList .testimItem .testimOwnerBox h4{margin:20px 0 15px;text-transform:uppercase; color:#505050;font: normal 20px 'PFDinTextCondPro-Medium', sans-serif;}
.testimList .testimItem .dark{color:#656565;}
.testimList .testimItem .testimWordsBox{background:#f3f3f3;border-radius:5px;font-family: "PFDinTextCondPro-Medium", sans-serif;font-size:14px;font-style:italic;line-height:20px;padding:20px;position:relative;}
.testimList .testimItem .testimWordsBox::after{content:"";height:0;width:0;position:absolute;top:20px;left:-30px;border-bottom:15px solid #f3f3f3; border-left:30px solid transparent;}
.testimList .testimItem .testimWordsBox p{margin: 0 0 20px 0;}
.testimList .testimItem .testimWordsBox p:last-child{margin:0;}

.testimList .testimItem .testimWordsBoxComment {padding:10px 20px;background: #eff6ff;margin: 10px 0 0 0;border-radius: 5px;font-size:14px;font-style:italic;line-height:20px;position:relative;}
.testimList .testimItem .testimWordsBoxComment:after {content: "";height: 0;width: 0;position: absolute;top: 20px;left: -30px;border-bottom: 15px solid #eff6ff;border-left: 30px solid transparent;}

.listOfCountries {margin-bottom: 15px; }
.listOfCountries ul{list-style:none; margin: 0; padding: 0;}
.listOfCountries ul + .listOfCountries ul { margin-top: 30px; }
.listOfCountries ul li{font:300 14px 'PFDinTextPro-Light',sans-serif;margin:0 0 5px;}
.listOfCountries ul li a:hover{color: #cc0000;}
.listOfCountries ul li img{margin:2px 10px 2px 0;}
.list-with-gap li {width:50%; float: left;}
.label, .badge {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sampleTour{border:1px solid #ddd;margin-bottom:20px;position:relative;}
.sampleTour .descriptionCol{margin:0 10px 10px 44px;position:relative;font-family:'PFDinTextCondPro-Medium', arial, sans-serif;}
.sampleTour .descriptionCol .caption { margin-right: -10px;}
.sampleTour .descriptionCol .caption small{font-weight: normal;font-size: 14px; color: #999;}
.sampleTour .descriptionCol h1, .sampleTour .descriptionCol h1 a{border:0;color:#007eff;display:table-cell;font-size:22px;font-weight:300;margin:0;padding: 10px 0 22px 0;text-decoration:none;text-transform:none;}
.sampleTour .descriptionCol h1 {width:100%;}
.sampleTour .descriptionCol .h-title, .sampleTour .descriptionCol h1 a{border:0; color: #007eff;display:table-cell;font-size:22px;font-weight:300;margin:0; padding: 10px 0 10px 0;text-decoration:none;text-transform:none;}
.sampleTour .descriptionCol .h-title {width: 100%;}
.sampleTour .descriptionCol .h-title a{color: #007eff;text-decoration: none;}
.sampleTour .descriptionCol h1 a{display:inline;padding:0;}
.sampleTour .descriptionCol h1 a:hover{color:#264a6b;}
.sampleTour .descriptionCol .price{color:#fff;display:table-cell;font:300 14px/1em 'PFDinTextPro-Light', arial, sans-serif;padding:0 0 5px 20px;text-align:right;vertical-align:top;}
.sampleTour .descriptionCol .price span{background:#007eff;display:inline-block;font-size:18px;font-weight:700;padding:8px;white-space:nowrap;}
.sampleTour .descriptionCol .price span strong{color:#fffeb7;font-size:25px;}
.sampleTour .descriptionCol .price em{background:#124371;display:inline-block;font-style:normal;padding:3px 8px;}
.sampleTour .descriptionCol .route{color:#777;font:300 15px 'PFDinTextPro-Light', arial, sans-serif;margin:-16px 0 10px 0;position:relative;text-transform:uppercase; width:75%;}
.sampleTour .icon{background:url('viTransport.png') no-repeat -100px 0;display:block;height:30px;width:30px;position:absolute;top:10px;left:-40px;}
.sampleTour .icon.iconAir{background-position:0 0;}
.sampleTour .icon.iconTrain{background-position:0 -30px;}
.sampleTour .icon.iconBus{background-position:0 -60px;}
.sampleTour .icon.iconLiner{background-position:0 -180px;}
.sampleTour .descriptionCol .date{color:#999;}
.sampleTour .date em{display:inline-block;float:left;font-style:normal;margin:2px 10px 2px 0;}
.sampleTour .label-date{background:#eee;border:1px solid #ddd;color:#000;display:inline-block;font-weight:300;margin:2px 5px 2px 0;}
.sampleTour .label-date:hover{background:#fff;color:#007eff;text-decoration: none;}
.sampleTour .label-date.dateRed{background:#ffb8ba;border-color:#b91419;color:#4c0508;}
.sampleTour .label-date.dateYellow{background:#ffe5c2;border-color:#c97d1a;color:#87530e;}
.sampleTour .label-date.dateGreen{background:#b0ffbe;border-color:#056516;color:#1f6b2d;}
.sampleTour .label-date.dateRed:hover{background:#fff;opacity:1;}
.sampleTour .label-date.dateYellow:hover{background:#fff;opacity:1;}
.sampleTour .label-date.dateGreen:hover{background:#fff;opacity:1;}
.sampleTour .tourStatus{background:url('turStatusIcons.png') no-repeat -100px 0;height:100px;width:28px;position:absolute;top:-1px;left:-28px;}
.sampleTour .tourStatus.new{background-position:0 0;}
.sampleTour .tourStatus.action{background-position:0 -100px;}
.sampleTour .tourStatus.hot{background-position:0 -200px;}
.sampleTour .zakaz{margin:-10px 10px 10px;text-align:center;}
.sampleTour .tagsBox{background:#ececec;color:#777;margin:10px 0 0;padding:8px 20px 10px 20px;}
.sampleTour .tagsBox > .part{display:inline-block;float:left;margin-top:2px;margin-right:30px;}
.sampleTour .tagsBox em{display:inline-block;float:left;font-style:normal;margin:2px 5px 2px 0;}
.sampleTour .tagsBox .label-tag{background:#fff;border:1px solid #ddd;color:#777;display:inline-block;font-size:12px;font-weight:300;margin:2px 0;}
.sampleTour .tagsBox a.label-tag:hover{border-color:#aaa;color:#333;}
.sampleTour .tagsBox .label-tag-container{margin-right:30px;}
.sampleTour .tagsBox .takeMap{display:inline-block;margin:2px 10px 2px 0; color: #ef9724;}
.sampleTour .tagsBox .takeMap a{margin-left:5px;text-decoration:underline; color: #ef9724;}
.sampleTour .tagsBox .takeMap a:hover{text-decoration:none;}
.sampleTour .tagsBox .takeMap a.dashed{border-bottom: 1px dashed #ef9724;}

.sampleTour .bookingTable{margin:20px 8px;}
.sampleTour .bookingTable th{color:#333;}
.sampleTour .bookingTable th, .sampleTour .bookingTable td{border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;min-height:32px;text-align:center;vertical-align:middle;}
.sampleTour .bookingTable th.desc{text-align:left;}
.sampleTour .bookingTable tr:last-child td{border-bottom:1px dotted #ccc;}
.sampleTour .bookingTable td.space{color:#019a1d;font-weight:700;text-align:center;}
.sampleTour .bookingTable td.desc{text-align:left;}
.sampleTour .bookingTable td.price{color:#019a1d;font:300 18px/1em 'PFDinTextCondPro-Medium', arial, sans-serif;}
.sampleTour .bookingTable td.price a{font-size:12px;}
.sampleTour .bookingTable .noFree td{background:#ffbcbc;opacity:.3;}
/*.sampleTour .bookingTable .noFree td.space{background:#ffebeb;color:#ef242b;opacity:1;}*/
.sampleTour .bookingTable .noFree td.space{color:#ef242b;}
.sampleTour .bookingTable .lastFree td.space{color:#ef9724;}
.sampleTour .bookingTable td.space a{color:#019a1d;}
.sampleTour .bookingTable .noFree td.space a{color:#ef242b;}
.sampleTour .bookingTable .lastFree td.space a{color:#ef9724;}
.sampleTour .bookingTable .btn{float:right;}
.hidden-label{display:none;padding-right:5px;}

.bookingTable .table th{background:#eee;border:1px solid #fff;text-align:center;}
.fastBookingTable .table th{background:#fff;border:0;}
.bookingTable .table th .icon-info-sign{background-image:url('vi-blue-glyphicons-halflings.png');cursor:pointer;}
.bookingTable .table th .icon-info-sign:hover{opacity:.7;}
.bookingTable .table td{border-style:dotted;border-width:1px 0 0 0;padding:10px 5px;text-align:center;vertical-align:middle;}
.bookingTable .table td:first-child{color:#777;font-size:11px;line-height:13px;text-align:left;}
.bookingTable .table td:first-child strong{color:#000;display:block;font:700 18px/1em 'PFDinTextCondPro-Thin',arial,sans-serif;}
.bookingTable .table td.bestPrice{background:#f2f9ff;padding:0 6px;}
.bookingTable .table tbody tr:hover td.bestPrice{background:#dae9f5;}
.bookingTable .table td:first-child strong{color:#000;display:block;font:700 18px/1em 'PFDinTextCondPro-Thin',arial,sans-serif;}
.bookingTable .table td.form input[type=checkbox] + label{color:#019a1d;font:700 18px/1em 'PFDinTextCondPro-Thin',arial,sans-serif;}
.bookingTable .table td.form.inactive{opacity:.5;}


.sampleTour .h1, .searchTourResults .sampleTour .descriptionCol .h1 a{font:300 16px/1.1em 'PFDinTextCondPro-Medium', arial, sans-serif;padding:10px 0 25px 0;}
.sampleTour .h1{display:table-cell;width:100%;}
.sampleTour .h1 a{color:#4078A3;display:inline;}
.sampleTour .h1 a:hover{color:#23557c;}
.sampleTour .scheduler {margin: 10px 15px; }
.lColPayment{}
.lColPayment h4{color:#fff;}
.lColPayment .contentBox{padding:10px; font-size: 12px;}
.countryDesc img {
    float: right;
    margin: 0 0 10px 20px;
}
#main_menu_button{
    border: none;
    width: 48px;
    height: 52px;
    background: url("menu.png") no-repeat center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}
.main-menu-wrap {
    position: relative;
    height: 61px;
    margin: 0 50px 10px 50px;
    background: url('menu-bg.png') repeat-x;
}

.main-menu-wrap::before, .main-menu-wrap::after {
    position: absolute;
    content: "";
    height: 60px;
    width: 45px;
    top: 0;
}

.main-menu-wrap::before {
    background: url("menu-bg-left.png") no-repeat;
    left: -43px;
}

.main-menu-wrap::after {
    background: url("menu-bg-right.png") no-repeat;
    right: -43px;
}

.main-menu{
    list-style: none;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.main-menu > li > a {
    display: block;
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #505050;
    line-height: 55px;
}
.main-menu .dropdown,
.main-menu .dropdown li,
.main-menu .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-menu .dropdown {
    position: relative;
    z-index: 50;
}
.main-menu .dropdown ul {
    background: #ffffff;
    position: absolute;
    padding-top: 10px;
    border-radius: 0 0 10px 10px;
    top: 70%;
    left: -10%;
    width: 200px;
    display: none;
    -webkit-box-shadow: 0 5px 10px -5px;
    -moz-box-shadow: 0 5px 10px -5px;
    box-shadow: 0 5px 10px -5px;
}
.main-menu .dropdown.active ul{
    display: block;
}
.main-menu .dropdown ul li a {
    display: block;
    padding: 5px 10px;
    color: #505050;

}
.caret {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 14px;
    border: none;
    background: url("caret.png") no-repeat;
}
.contacts {
    color: #ffffff;
    font-family: 'PFDinTextCondPro-Thin', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin: 15px 0 15px;
}

.contacts > span {
    display: block;
}
.contactBox {
    font-family: 'PFDinTextPro-Light', sans-serif;
    font-size: 16px;
}
.contactBox .caption {
    font-family: 'PFDinTextPro-Regular', sans-serif;
    font-size: 18px;
}
.contactBox .workTime {
    color: #7c7c7c;
 }
.contactBox .workTime strong{
    font-family: 'PFDinTextPro-Regular', sans-serif;
    color: #000000;
}
.contactBox .addressRow h3 {
    font-family: 'PFDinTextPro-Regular', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.routeBox p {
    font-family: 'PFDinTextPro-Light', sans-serif;
    font-size: 18px;
}
.routeBox h3{
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.contactBox .labelName {
    display:inline-block;
    float:left;
    margin-right:6px;
    width:54px;
}
.search-form {
    position: relative;
    margin: 7px 0;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    outline: none !important;
    width: 100%;
    padding: 8px 10px;
    background: #ffffff !important;
    border: 1px solid #cfcfd0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.2);
}

.search-box {

    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.2);
}

.search-box + span{
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 25px;
    background: url("search.jpg") no-repeat;
}

/*Select2*/

.select2-container {
    font-family: 'PFDinTextCondPro-Thin', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #fff;
    border-radius: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    width: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
    padding-right: 40px;
}

.select2-container .select2-selection--single {
    height: 45px;
    outline: none !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: url('black-arrow.png') no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    top: 40%;
    left: 10%;
}
.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.select2-dropdown {
    border: none;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}

/*Select2*/
.hFooter {
    clear: both;
    height: 80px;
}
.footer {
    margin-top: -65px;
    min-height: 65px;
    background-color: #171717;
	color: #ffffff;
    border-top: 1px solid #ddd;
    padding: 14px;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
 
.col-xs-1-5 {
    width: 20%;
    float: left;
}

.tour-search h3{
    background: #fff url("magnifier.png") no-repeat 15px center;
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    margin: 0;
    padding: 8px 5px 8px 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.tour-search-form {
    margin: 10px 0;
}

.search-tour-btn, .search-tour-btn:hover, .search-tour-btn:active, .search-tour-btn:focus {
    position: relative;
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff !important;
    margin-top: 15px;
}

.search-tour-btn::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -20px;
    top: 1px;
    background: url('white-arrow.png') no-repeat;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}
 
@media (min-width: 992px) {
    #main_menu_button {display: none;}
    .main-menu > li > a {
        font-size: 15px;
    }
    .tour-search {
        margin: 15% 0 0 0;
    }
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}
 
@media (min-width: 1200px) {

    .main-menu > li > a {
        font-size: 18px;
    }
    .tour-search {
        margin: 45% 0 0 0;
    }
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 992px) {
    .caret {
        display: none;
    }
    .contacts {
        margin: 0 0 5px;
    }
    .main-menu {
        display: none;
        position: absolute;
        background: #ffffff;
        width: 100%;
        height: auto;
        z-index: 10;
        margin: -3px 0 0 -15px;
        border-radius: 0 0 10px 10px;
        -webkit-box-shadow:  0 4px 7px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:  0 4px 7px rgba(0, 0, 0, 0.2);
        box-shadow:  0 4px 7px rgba(0, 0, 0, 0.2);
    }
    .main-menu .dropdown ul {
        padding: 0 4%;
        width: 100%;
        display: block!important;
        position: static;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .main-menu.active{
        display: block;
    }
    .main-menu > li {
        display: block;
    }
    .main-menu > li > a {
        line-height: 30px;
        padding: 5px 15px;
        display: block;
    }
    .main-menu > li > a:hover {
        text-decoration: underline;
    }

}
@media (max-width: 768px) {
    .testimList .testimItem .testimWordsBox::after {display: none;}
    .testimList .testimItem .testimOwnerDetails {margin-bottom: 10px;}
}
@media (max-width: 540px) {
    .col-xxs-12 {
        width: 100%;
    }
}
.subscribe-block {
    background: #ffae00;
    border-radius: 5px;
    border-top: 2px solid #ffd200;
    padding: 0 10px 5px 10px;
}

.subscribe-block h3 {
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subscribe-block button, .subscribe-block button:hover, .subscribe-block button:active, .subscribe-block button:focus {
    display: inline-block;
    padding: 4px 0;
    margin-bottom: 0;
    width: 100%;
    outline: none !important;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: red;
    border: none;
    border-bottom: 4px solid #870000;
    border-radius: 10px;
}

.subscribe-block button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 4px;
    border-bottom: none;
}

.subscribe-block input[type="text"] {
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.tour-block {
    background: #ffae00;
    border-radius: 5px;
    border-top: 2px solid #ffd200;
    padding: 0 10px 5px 10px;
    margin: 0 0 15px 0;
}

.tour-block h3 {
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.tour-block button, .tour-block button:hover, .tour-block button:active, .tour-block button:focus {
    display: inline-block;
    padding: 9px 0 6px;
    margin-bottom: 0;
    width: 100%;
    outline: none !important;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    background: red;
    border: none;
    border-bottom: 4px solid #870000;
    border-radius: 10px;
}

.tour-block button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 4px;
    border-bottom: none;
}


.tour-thumb {
    background: #f8f8f8;
    border-bottom: 2px solid #9a9a9a;
    padding: 10px 15px;
    margin: 0 0 10px 0;
}

.tour-thumb img {
    margin: 0 auto;
}

.tour-thumb h3{
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 8px 0 5px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.tour-thumb p{
    font-size: 12px;
    margin-top: 5px;
}

.m_flag {
    padding-right: 3px;
}
.m_flag img {
    vertical-align: top;
}

.btn-yellow, .btn-yellow:hover, .btn-yellow:active, .btn-yellow:focus {
    display: block;
    max-width: 170px;
    color: #000000;
    background: #ffd200;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 0;
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border-top: 2px solid #f0c600;
    border-bottom: 3px solid #dab400;
    margin: 0 auto;
}

.btn-yellow:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 3px;
    border-bottom: none;
}
.tour-thumb .btn-yellow:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 12px;
    border-bottom: none;
}
.block {
	margin: 20px 0;
}

.block-grey {
    background-color: #f8f8f8;
}

.rec-item {
    margin-bottom: 45px;
}

.rec-item h3,.rec-item h3 a{
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    color: inherit;
}

.rec-item h3 .price, .rec-item h3 a .price {
    color: #0494f0;
}

.rec-item p{
    font-size: 12px;
    margin-top: 10px;
}

.rec-item>.desc {
    font-size: 12px;
    color: #8d8d8d
}

.rec-item>.desc .date{
    font-weight: bold;
    color: red;
}

.blog-item {
    margin: 10px 0;
}

.blog-item h3{
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
	color: #0366d5;
	margin-top: 5px;
	margin-bottom: 5px;
}

.blog-item h3 + p{
     margin-top: 10px;
}

.blog-item p, .blog-item .date{
	font-size: 12px;	
	margin-top: 5px;
}

.blog-item p {
	color: #444444;
}

.news-item {
    background: url("border_img.png") repeat-x top;
    margin-bottom: 25px;
    padding-top: 10px;
}
.full-news-item {
    padding: 15px;
}
.news-item h3, .full-news-item h3{
    margin: 0;
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}
.news-item .news-item-inner > p {
    margin: 0 0 5px 0;
}
.news-item h3 + .news-item-inner, .full-news-item h3 + .news-item-inner{
    margin-top: 5px;
}
.news-item .news-item-inner, .full-news-item .news-item-inner {
    color: #595959;
}
.news-item .detail-link {
    font-family: 'PFDinTextCondPro-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #0257b7;
}
.news-item .detail-link span{
    width: 16px;
    height: 10px;
    background: url("link-deco.png") no-repeat;
    display: inline-block;
}
.seo-text {
    padding-right: 15px;
    padding-left: 15px;
}

.seo-text h2 {
    text-align: center;
    margin: 15px 0 30px;
}

.footer-text {
    font-size: 12px;
}

.soc-icon {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-image: url('soc.png');
}

.soc-icon:hover {
    background-position-y: 34px;
}

.tw-icon {
    background-position-x: 0px;
}

.vk-icon {
    background-position-x: -44px;
}

.fb-icon {
    background-position-x: -89px;
}

.inst-icon {
    background-position-x: -133px;
}

.ok-icon {
    background-position-x: -177px;
}

.controls p {
    margin: 0 0 10px 0;
    text-align: justify;
}
.dateSelectionBut {
    border-bottom: 1px dotted #007eff;
    color: #007eff;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.dateSelectionBut:hover{color: #0e73e5;}
.dateSelectionBut:after{background:url("dateSelectorArr.png") no-repeat;content:"";display:none;height:10px;width:19px;position:absolute;bottom:-15px;left:50%;margin-left:-9px;}
.dateSelectionBut.active:after{display:block;}
.dateSelection {
    background: #f2fbff;
    border: 1px solid #cedce3;
    margin: 10px 0;
    padding: 10px;
}
.passportForm{background:#eee;border:1px solid #ccc;margin-bottom:20px;}
.passportForm .caption{padding:10px;}
.passportForm .caption .selectCol{float:left;width:33.3%;}
.passportForm .caption select{height:36px;margin:0;padding:9px 4px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.passportForm  h4{text-align:center;}
.passportForm .groupContent{border-top:1px solid #ccc;padding:10px;}
.passportForm .groupContent .importantNotice{margin:0 0 10px;}
.passportForm .groupContent textarea{margin:0;width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.passportTbl{width:100%;}
.passportTbl th{border-bottom:1px solid #ccc;color:#000;font:300 16px/1em sans-serif;padding:10px 2px;text-align:center;}
.passportTbl td{padding:10px 2px;vertical-align:middle;}
.passportTbl tr + tr td{border-top:1px solid #ccc;}
.passportTbl td:first-child{padding-left:10px;}
.passportTbl td:last-child{padding:1%;}
.passportTbl td .icon-trash{background:url('vi-blue-glyphicons-halflings.png') -456px 0;cursor:pointer;}
.passportTbl td .icon-trash:hover{opacity:.7;}
.passportTbl td.td_birthday{width:20%;}
.passportTbl td.td_icon{width:4%;}
.form input,.form textarea,.passportForm textarea{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.form input.correct[type="text"]{background:#f0ffea url('correct.png') no-repeat 100% 50% !important;border-color:#45bb20;color:#296e0a;padding-right:22px;}
.form input.incorrect[type="text"]{background:#ffebeb url('incorrect.png') no-repeat 100% 50% !important;border-color:#d74747;color:#a30f0f;padding-right:22px;}

.bus-map{border:1px solid #ddd;margin-bottom:20px;padding:20px;}
.bus-map h4{margin-top:0;text-align:center;}
.busWrapper{height:250px;margin:40px 0 20px;overflow:auto;text-align:center;width:100%;}
.bus-scroll{display:inline-block;min-width:780px;}
.bus{background:#fbf5df;border:4px solid #7dbfe1;border-radius:15px;display:inline-block;height:191px;white-space:nowrap;box-sizing: content-box;}
.busCol{float:left;height:191px;padding:0 4px;width:43px;box-sizing: content-box;}
.busRow{height:30px;margin:6px 0;width:43px;}
.busRow:first-child{margin-top:8px;}
.busRow:last-child{margin-bottom:8px;}
.rowSeat{background:#d5cdaf url('busSeat.png') no-repeat;}
.rowSeat.empty{background-color:#87da80;cursor:pointer;}
.rowSeat.booked{background-color:#e76969;}
.rowSeat.reserve{background-color:#e4ba4a;}
.rowSeat.choice{background-color:#2fb8ff;cursor:pointer;}
.rowSeat.booked2{background:#E76969 url('busSeat2.png') no-repeat;}
.rowSeat.reserve2{background:#e4ba4a url('busSeat2.png') no-repeat;}
.rowSeat.choice:hover, .rowSeat.empty:hover{opacity:.7;}
.rowSeat.choice2{background-color:#87da80;cursor:pointer;}
.rowSeat i{position:relative;top:6px;left:6px}
.rowNum{color:#887f5f;font:700 18px/30px sans-serif;text-align:center;}
.rowBar{background:url('busBar.png') no-repeat 50% 50%;height:64px;}
.rowTV{background:url('busTV.png') no-repeat 0 50%;}
.rowSeat i{position:relative;top:6px;left:9px}
.busCol.busFront{background:url('busFront.png') no-repeat 0 50%;border-radius:0 13px 13px 0;float:left;height:191px;padding:0;width:97px;}
.exitCol{position:relative;}
.exitCol:after{color:#000;content:"ВХОД"; font-family: 'PFDinTextCondPro-Medium', arial, sans-serif;text-align:center;width:51px;position:absolute;bottom:-30px;left:0;}
.busLegend{margin-bottom:20px;text-align:center;}
.busLegend .legendContent{display:inline-block;}
.busLegend h5{color:#000;display:inline-block;float:left;margin:0 10px 0 0;}
.legendItem{display:inline-block;float:left;font-size:11px;line-height:36px;margin:0 10px;}
.legendItem .rowSeat{background-image:url('legendSeat-sm.png');background-size:contain;cursor:default;float:left;height:20px;width:29px;margin-right:5px;}
.legendItem .rowSeat:hover{opacity:1;}
.legendItem .rowSeat.booked2{background-image:url('legendSeat2-sm.png');}
.legendItem .rowSeat.reserve2{background-image:url('legendSeat2-sm.png');}
.legendItem .rowSeat i{position:relative;top:-8px;left:5px}
.bus-map .msg{color:#777;font-size:11px;line-height:13px;}
.bus-map .msg p:last-child{margin:0;}

.disclaimer{background:#fffee0;border:1px solid #bfbb8d;color:#605f33;font-size:10px;line-height:12px;margin:30px 0;padding:10px;}
.confirmDetails{background:#f8f8f8;border-top:1px solid #ddd;padding:10px;}
.confirmDetails .itemRow{border-bottom:1px dotted #ddd;margin:0 0 10px;padding-bottom:10px;}
.confirmDetails .itemRow:last-child{border-bottom:none;margin:0;}
.confirmDetails .itemRowCaption{color:#777;font:300 16px/1em 'PFDinTextPro-Light',arial,sans-serif;}
.confirmDetails .itemRowCaption span{color:#000;display:inline-block;margin-right:10px;width:170px;}
.confirmDetails  .touristsData{background:#fff;box-shadow:0 0 3px rgba(0,0,0,.2);padding:10px;margin:10px 0 0;}
.confirmDetails  .touristsData .info{background:#ecfdff;margin-top:10px;padding:10px;}

